.card {
    width: 18rem;
    display: inline-flex;
}
.footer-dark {
    background-color: gray;
    height: 100px;
    width:auto;
}
.footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:20px;
    margin-bottom:0;
  }
  
  